.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top{
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
}
.Topimg{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.Toptext{
    font-size: 25px;
    font-weight: 500;
    padding: 15px;
}
.Topdesc{
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
}
.button{
    height: 40px;
    width: 110px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(80, 123, 241);
    margin-top: 20px;
    margin-left:  10px;
}